/* COLORS  */

/* primary */
$primary-0: #f0efff;
$primary-50: #d8d6ff;
$primary-100: #c1beff;
$primary-200: #aaa5ff;
$primary-300: #938dff;
$primary-400: #7b74ff;

/* main */
$primary-500: #645cff;
$primary-600: #554ed9;
$primary-700: #4640b3;
$primary-800: #37338c;
$primary-900: #282566;
$primary-1000: #191740;
$primary-1100: #0a0919;

/* grey */
$grey-0: #fafbfc;
$grey-50: #f2f4f8;
$grey-100: #eaedf3;
$grey-200: #e2e7ef;
$grey-300: #dbe0ea;
$grey-400: #d3dae6;
$grey-500: #cbd3e1;
$grey-600: #adb3bf;
$grey-700: #8e949e;
$grey-800: #70747c;
$grey-900: #51545a;
$grey-1000: #333538;
$grey-1100: #141516;

/* rest */
$black: #222;
$white: #fff;
$red-light: #f8d7da;
$red-dark: #842029;
$green-light: #d1e7dd;
$green-dark: #0f5132;

/* gradients */
$grey-silver: linear-gradient(
    to bottom left,
    rgb(126, 126, 126) 0%,
    rgb(182, 182, 182) 50%,
    rgb(70, 70, 70) 100%
  )
  no-repeat fixed;
// $grey-silver: linear-gradient(
//     to bottom left,
//     rgb(191, 255, 0) 0%,
//     rgb(255, 255, 46) 50%,
//     rgb(255, 169, 77) 100%
//   )
//   no-repeat fixed;

/* box shadows */
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);

/* typography */
$defaultFontSize: 87.5%;
$headingFont: "Montserrat", sans-serif;
$bodyFont: "Oxygen", sans-serif;
$strongFont: "Permanent Marker", sans-serif;
$subFont: monospace;
$specFont: "Architects Daughter";
$smallText: 0.8em;
$extraSmallText: 0.7em;

/* rest */
$backgroundColor: $grey-silver;
$textColor: $grey-1000;
$borderRadius: 0.25rem;
$letterSpacing: 1px;
$transition: 0.3s ease-in-out all;
$max-width: 1120px;
$fixed-width: 600px;
$line: double;
