.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
